* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body {
  background-color: #000;
}

.head {
  color: #fff;
}

.nav-link:hover {

  color: #F38181;
}

header .menu-btn {
  display: none;
  font-weight: 900;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;

}

.banner {
  /* height: 100vh; */
  /* margin-top: 75px; */
}

.first {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.second {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
  margin: 20px 0px;
  padding: 3px;
  background-color: transparent;
  font-size: 13px;

}

.navigation {
  background-color: #36363678;
}

.first.col {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.b1.btn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  width: 170px;
  padding: 10px 10px;
}

.banner h1 {
  font-size: 34px;
  font-weight: bold;
  color: #f1f1f1;

}


.banner h2 {
  font-size: 64px;
  font-weight: bolder;
  background: linear-gradient(#FCE38A, #F38181);
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
}

.banner .social img {
  padding-right: 10px;
  padding-top: 50px;
  height: auto;
  width: 45px;
}

.banner .bimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bimg img {
  width: 325px;
  height: auto;

}

.social img:hover {
  transform: scale(1.09);
}

.first.col h2 span {
  background: linear-gradient(#FCE38A, #F38181);
  background-clip: text;
  color: transparent;
}

/* -------------about----------- */

.about {
  margin-top: 100px;
}

h1 {
  background: linear-gradient(#FCE38A, #F38181);
  background-clip: text;
  color: transparent;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}


.about h2 {
  font-size: 48px;
  font-weight: 900;
}

.about p {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 20px;
  padding-right: 20px;
}

.about p i {
  background: linear-gradient(#FCE38A, #F38181);
  background-clip: text;
  color: transparent;
  font-weight: 500;
}

.about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

}

.about .aboutimg {
  display: flex;
  justify-content: center;
}

.aboutimg img {
  height: auto;
  width: 400px;
}



/* -----------skills------------------- */

.skill-section {
  margin: 150px 0px;
}

.skill .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 30px;

}

.cards svg {
  width: auto;
  height: 50px;
}

.cards h2 {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  /* margin: 0 0 5px; */
}

.cards p {
  font-size: 11px;
  color: #ffffff;
  font-weight: 100;
  padding-right: 15px;

}

.cards1 {
  background-color: #6059596c;
  border-radius: 10px;
  padding: 10px 20px;
}

.skill .content.col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ---------------button-------------------- */

.btn-12 {
  position: relative;
  right: 3px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 0px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-12 span {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  display: block;
  position: absolute;
  width: 145px;
  height: 40px;

  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-12 span:nth-child(1) {

  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {

  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/*---------------button end---------------------  */

.main-container {
  min-height: 100vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  height: 560px;
  overflow: hidden;
}

.main {
  margin: 0px auto;
  width: 350px;
  height: 350px;
  position: relative;
}

.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px solid #F38181;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}

.icon-block {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-image: linear-gradient(180deg, #fce38a 0%, #F38181 100%);
  -webkit-background-image: linear-gradient(180deg, #fce38a 0%, #F38181 100%);
  /* box-shadow: 0 2px 4px 0 #ffffff; */
  -webkit-box-shadow: 0 2px 2px 0 #f38181;
}

.icon-block img {
  margin: 0px auto;
  width: 45%;
  height: auto;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}

.wordpressimg {
  width: 60% !important;
  height: auto;

}

.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}

.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}

.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/* circle content */
.circle {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 75%;
  height: 75%;
  border: 2px solid #F38181;
  border-radius: 50%;
}

.circle .icon-block img {
  animation: img-rotate 20s linear infinite;
  -webkit-animation: img-rotate 20s linear infinite;
}

/* center logo */
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.center-logo h1 {
  max-width: 200px;
  font-size: 16px;
  color: #fff;
}

/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }

  to {
    -webkit-transform: rotate(-405deg);
  }
}

/* ---------portfolio--------------- */
.project .nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffd1d1;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;

}

.nav-link {

  color: #fff;
  text-decoration: none;
}

.nav-link:focus,
.nav-link:hover {
  color: #ffd1d1;
}


/* ------contacts----------------- */


h3 {
  background: linear-gradient(#FCE38A, #F38181);
  background-clip: text;
  color: transparent;
  font-size: 26px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 500;
}


.contacts h2 {
  font-size: 15px;
  background: linear-gradient(#FCE38A, #F38181);
  background-clip: text;
  color: transparent;
}

.contact-card {

  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding: 15px;
  gap: 8px;
  border-radius: 5px;


}

.address-card {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
  /* gap: 20px; */
  padding-right: 60px;
}

/* /-------------------------- */

.contacts {
  margin: 100px 0px;
  position: relative;
}

.contacts .address {
  color: #fff;
}

textarea {
  width: 100%;
  height: 110px;
  padding: 10px 0px;
  box-sizing: border-box;
  border-bottom: 1px solid #fff !important;
  background-color: transparent;
  resize: none;
  border: none;
  margin-bottom: 15px;

}

input[type=text],
select {
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: 1px solid #fff !important;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.address {

  /* padding: 60px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;


}


.address p {
  font-size: 12px;
  font-weight: 100;
}

.address h1 {
  font-size: 20px;
  font-weight: 400;
}

.contactdiv {
  margin-top: 50px;
}

form {
  border: 1px solid;
  box-shadow: 0px 0px 5px 0px #464545;
  padding: 20px 40px;
  background-color: #000000a8;
  backdrop-filter: blur(40px);
  position: absolute;
  margin-right: 40px;



}

.forms.col {
  display: flex;
  justify-content: center;
  align-items: center;
}


.contacts .para {
  padding-right: 100px;
  font-size: 14px;
  margin-bottom: 50px;
}

.b2.btn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  width: 125px;
  padding: 10px 10px;
}



.b2.btn:hover {
  background: linear-gradient(#FCE38A, #F38181);
  color: #fff;
  border: none;

}

input[type="text"],
select {
  color: white;
}

textarea {
  color: #fff
}

/* ---------footer---------- */

footer {
  color: #ffffff;
  margin-top: 50px;
  /* position: relative; */
}

footer .navcontent {
  display: flex;
  flex-direction: row;
}


footer nav {
  /* display: flex; */
  /* justify-content: right; */
  align-items: center;
  /* border: 1px solid #fff; */
  border-radius: 50px;
  margin: 20px 0px;
  padding: 8px;
  background-color: transparent;
  font-size: 12px;
  background-color: #36363678;
}


.shahanas {
  padding-left: 15px;
}

/* ----------- */
.socialicons img {
  height: auto;
  width: 40px;
  padding-right: 15px;

}

.socialicons img:hover {
  transform: scale(1.09);
}









/* ---------------------responsive------------------- */


/* ------------------------------------------------------------------------------------------------------ */
/* mobile */
/* -------------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 520px) {


  * {
    margin: 0;
    padding: 0;
    font-family: poppins;
  }
  
  body {
    background-color: #000;
  }

  header nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    text-align: start;
    top: 40px;
    left: 0;
    z-index: 1;
    padding: 10px;
    background-color: #ffffff;
    margin: 0px 0px;


  }

  header .menu-btn {
    display: none;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    text-align: end;
    margin-top: 5px;
  }

  header nav a {
    color: #ffffff;
    font-weight: 500;
    font-size: 10px;
    padding-bottom: 3px;
  }

.navigation{
  border-radius: 0px;
  background-color: #3f3f3f;
 }

  header nav.active {
    display: flex;
  }

  header .menu-btn {
    display: block;
  }

  /* banner */


  .banner h1 {
    font-size: 22px;
  }

  .banner h2 {
    font-size: 42px;
  }

  .btn-12 span {

    width: 120px;
    font-size: 12px;
  }

  .banner .social img {
    padding-right: 8px;
    padding-top: 20px;
    height: auto;
    width: 35px;

  }
  .banner .first{
    margin-top: 25px;
  }
.bimg img {
  width: 255px;
  height: auto;
  margin: 50px 0px;

}
 
/* about */

.aboutimg img{
  display: none;
}
.about {
  margin-top: 1px;
}

.aboutimg img {
  height: auto;
  width: 300px;
}
.about .content h2{
  font-size: 32px;
  
}

h1 {
 
  font-size: 18px; 
}

.about h2 {
  font-size: 36px; /* Adjust font size for smaller screens */
}

.about p {
  font-size: 12px; /* Adjust font size for smaller screens */
 
  padding-right: 10px; /* Adjust padding for smaller screens */
}

.about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.about .aboutimg {
  display: flex;
  justify-content: center;
}

.aboutimg img {
  height: auto;
  width: 300px; /* Adjust image size for smaller screens */

}
.content{
  order: 1;
}


.about .butn{
  text-align: center;
  margin-right: 115px;
}

.about .content{
  text-align: center;
}
/* skill */
.main {
  margin: 0px auto;
  width: 270px;
  height: 270px;
  position: relative;
}

.icon-block {
  width: 35px;
  height: 35px;}

  .skill-section {
    margin: 0px 0px;
  }

.skillcontent{
margin: 50px 0px;
order: 2;
}
.skill-section {
  margin: 50px 0px; /* Adjust margin for smaller screens */
}

.skill .cards {
  display: grid;
  grid-template-columns: 1fr; /* Stack cards vertically on small screens */
  row-gap: 20px;
  column-gap: 30px;
}

.cards svg {
  width: auto;
  height: 40px; /* Adjust icon size for smaller screens */
}

.cards h2 {
  font-size: 12px; /* Adjust font size for smaller screens */
  color: #fff;
  font-weight: 500;
}

.cards p {
  font-size: 12px; /* Adjust font size for smaller screens */
  color: #ffffff;
  font-weight: 100;
  padding-right: 10px; /* Adjust padding for smaller screens */
}
/* contacts*/
.contacts{
  margin-left: 80px;
  }

.forms img{
width: 50px;
}
.contacts .address {
  color: #fff;
  display: block;
}
.contacts {
  margin: 50px 0px;
  position: relative;
}
form {
  
  padding: 10px 20px;
  /* background-color: #000000a8;
  backdrop-filter: blur(40px); */
  position: relative;
  margin-right: 0px; 
}
.forms img{
  display: none;
}
input[type="text"] ,select {
  color: white;
  font-size: 14px;
}
textarea{
  font-size: 14px;
}
.address-card{
  display: flex;
  flex-direction: column;
  padding-right: 0px;
}
.contact-card,.connect,.para{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts .para {
  padding-right: 1px;
text-align: center;}
}